@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome to Three Razor Pages";
}

<div class="description">
    <span class="heading-text">Patriarch</span>
    <span class="description-text">Husbands to duty, they unrolled their plans across billiard tables and vehicle bonnets, regrouped at breakfast.What their secrets were was everyone’s guess and nobody’s business.</span>
    <div class="icon-container">
        <span class="icon">face</span>
    </div>
</div>
<canvas class="threejs-container"></canvas>
